@model Job_Posting_Site.Models.AdViewModel.AdFormModel
@{
    ViewBag.Title = "View Ad Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="d-flex justify-content-center flex-wrap">
    <div class="card " style="width: 50vw;">
        <div class="card-body">
            <h2 class="card-title text-center">@ViewBag.Category</h2>
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="card-text"><span class="fw-bold">Author: </span>@Model.Owner</p>
            @if (@ViewBag.Show)
            {
                <a asp-controller="Ad" asp-action="Apply" asp-route-id="6"
                   class="btn btn-primary mb-2">Apply</a>
            }
            @if (!@ViewBag.Show)
            {
                <a asp-controller="Ad" asp-action="Unapply" asp-route-id="6"
                   class="btn btn-primary mb-2">Unapply</a>
            }
        </div>
    </div>
</div>