@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(ViewBag.Role == "employer")
    {
        <a asp-controller="Ad" asp-action="Create" class="btn btn-primary mb-2">Create ad</a>
    }
    @foreach(var ad in ViewBag.Ads)
    {
        <div class="card col-xs-1 text-center" style="width: 20rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="fw-bold">Category: </span> @foreach (var category in ViewBag.Categories)
                    {
                        if (category.Id == ad.Category)
                        {
                            <p class="fs-1">@category.Name</p>
                        }

                    }
                </li>
                <li class="list-group-item"><span class="fw-bold">Description: </span> : @(ad.Description?.Substring(0, Math.Min(ad.Description.Length, 10)) + (ad.Description?.Length > 10 ? "..." : ""))</li>
                <li class="list-group-item">
                    <a asp-controller="Ad" asp-action="Details" asp-route-id="@ad.Id"
                       class="btn btn-primary mb-2">View</a>
                    @if (this.ViewBag.Owner == ad.Owner)
                    {
                        <a asp-controller="Ad" asp-action="Edit" asp-route-id="@ad.Id"
                           class="btn btn-primary mb-2">Edit</a>
                        <a asp-controller="Ad" asp-action="Delete" asp-route-id="@ad.Id"
                           class="btn btn-primary mb-2">Delete</a>
                    }
                </li>
            </ul>
        </div>        
    }
    
    
</div>
